<div class="filter-container">
  
    <mat-form-field appearance="fill" class="filter-field">
  <mat-label>Filter by Artcile Category</mat-label>
  <mat-select [(value)]="selectedArticleCategory" (selectionChange)="onSearch()">
    <mat-option *ngFor="let category of articleCategories" [value]="category.id">
      {{ category.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

   <mat-form-field appearance="fill" class="filter-field">
  <mat-label>Filter by Bicycle Category</mat-label>
  <mat-select
    [(value)]="selectedBicycleCategories"
    (selectionChange)="onSearch()"
    multiple>
    <mat-option *ngFor="let category of bicycleCategories" [value]="category.id">
      {{ category.name }}
    </mat-option>
  </mat-select>
</mat-form-field>



  </div>
